<section style="background-color: #f5f7f9;color:rgba(0,0,0,0.87);">
  <nav class="navbar navbar-expand-sm bgcolor-grey nav-bar">
    <span class="text-captalize productMaster-header-text">ML APP</span>
   
  </nav>
  <nav class="navbar navbar-expand-sm bgcolor-grey headernav2">
    <div class="collapse navbar-collapse " id="collapsibleNavbar">
      <ul class="navbar-nav ">
        <li class="nav-item">
          <!-- <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['admin']"> Admin</a> -->
          <!-- <i class="fa fa-angle-down"></i> -->
          <button type="button" class="btn btn-primary" (click)="adminLogin()">Admin Login</button>
        </li>
  
        <li class="nav-item" >
          <!-- <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['user']">User</a> -->
          <!-- <i class="fa fa-angle-down"></i> -->
          <button type="button" class="btn btn-primary" (click)="userLogin()">User Login</button>
        </li>
  
      </ul>
    </div>
  
   
  </nav>
  <router-outlet></router-outlet>
  </section>


	<div *ngIf="userLoginFlag">
    <form (submit) = "validatedata()">
      <div class="imgcontainer">
        <img src="./assets/images/User2.png" class="avatar">
      </div>
    
      <div class="container">
        <label><b>Emailid</b></label>
        <input type="text" placeholder="Enter Emailid" [(ngModel)]="modellUserLogin.emailid"  name="emailid" required>
    
        <label><b>Password</b></label>
        <input type="password" placeholder="Enter Password" [(ngModel)]="modellUserLogin.password" name="password" required>
    
        <button type="submit">Login</button>
        <label>
          <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
      </div>
    
      <div class="container" style="background-color:#f1f1f1">
        <button type="button" class="cancelbtn" (click)="userSignUp()">SignUp</button>
        <span class="psw">Forgot <a href="#">password?</a></span>
      </div>
    </form>
  </div>

  <div *ngIf="userSignUpFlag">
      <div class="imgcontainer">
        <img src="./assets/images/User2.png" class="avatar">
      </div>
    
      <div class="container">
        <label><b>Emailid</b></label>
        <input type="text" placeholder="Enter Emailid" [(ngModel)]="modellSignUp.emailid"  name="emailid" required>
    
        <label><b>Password</b></label>
        <input type="password" placeholder="Enter Password" [(ngModel)]="modellSignUp.password" name="password" required>
    
        <button (click) = "validatedataSignUp()" >Register</button>
  </div>
  </div>

  <div *ngIf="adminLoginFlag">
    <!-- <div class="imgcontainer">
      <img src="./assets/images/User2.png" class="avatar">
    </div> -->
  
    <div class="container">
      <label><b>Admin Name</b></label>
      <input type="text" placeholder="Enter AdminName" [(ngModel)]="modellAdminLogin.name"  name="name" required>
  
      <label><b>Password</b></label>
      <input type="password" placeholder="Enter Password" [(ngModel)]="modellAdminLogin.password" name="password" required>
  
      <button (click) = "validateAdmin()" >Login</button>
</div>
</div>
	
